configuration {
  steal-focus: true;
  match: "fuzzy";

  modi: [drun,run,filebrowser];

  display-drun: " Apps";
  display-run: " Run";
  display-window: " Windows";
  display-filebrowser: " Files";

  /*--- Keybindings ---*/
  kb-mode-previous: "Alt+h";
  kb-mode-next: "Alt+l";
}

/*--- Colors ---*/
@import "fonts/standard.rasi"
@import "themes/hyper.rasi"
