* {
  border: none;
  border-radius: 0px;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
  min-height: 10px;
}

@define-color background rgba(42, 38, 64, 0.62);
@define-color alternate-background rgba(53, 48, 80, 0.31);
@define-color selected-background rgba(63, 57, 80, 0.31);
@define-color foreground rgba(248, 248, 242, 0.94);
@define-color dim-foreground rgba(248, 248, 242, 0.27);
@define-color accent rgba(246, 193, 119, 1);

window#waybar {
  background-color: @background;
  padding: 4px;
}

#workspaces button {
  background-color: @background;
  color: @foreground;
  padding: 0px 8px;
  margin: 4px;
  border-radius: 50%;
}

#workspaces button.active {
  background-color: @selected-background;
  color: @accent;
}
